@model Programa_Trainee_VixTeam.Models.Empresa
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<h1 class="text-center">Cadastro</h1>

@using (Html.BeginForm())
{
    <h4>Insira os dados para completar o cadastro</h4>

    @Html.ValidationSummary("", new { @class = "text-danger" })

    @Html.EditorForModel()


    <div class="form-group">
        <div class="col-md-offset col-md-10">
            <input type="submit" value="Cadastrar" class="btn btn-primary"/>
        </div>
    </div>
}


